---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=weather_api_key&q=39.74001,%20-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/25/2023 14:34:02
      Cdn-Edgestorageid:
      - '845'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 489a3d869b61af8399276c22ea222831
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1682433242,"localtime":"2023-04-25
        8:34"},"current":{"last_updated_epoch":1682433000,"last_updated":"2023-04-25
        08:30","temp_c":7.6,"temp_f":45.7,"is_day":1,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":220,"wind_dir":"SW","pressure_mb":1010.0,"pressure_in":29.81,"precip_mm":0.1,"precip_in":0.0,"humidity":69,"cloud":25,"feelslike_c":6.3,"feelslike_f":43.3,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":5.4,"gust_kph":8.6},"forecast":{"forecastday":[{"date":"2023-04-25","date_epoch":1682380800,"day":{"maxtemp_c":15.9,"maxtemp_f":60.6,"mintemp_c":3.9,"mintemp_f":39.0,"avgtemp_c":9.4,"avgtemp_f":49.0,"maxwind_mph":19.0,"maxwind_kph":30.6,"totalprecip_mm":4.9,"totalprecip_in":0.19,"totalsnow_cm":0.0,"avgvis_km":9.4,"avgvis_miles":5.0,"avghumidity":67.0,"daily_will_it_rain":1,"daily_chance_of_rain":88,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":2.0},"astro":{"sunrise":"06:08
        AM","sunset":"07:48 PM","moonrise":"09:51 AM","moonset":"12:59 AM","moon_phase":"Waxing
        Crescent","moon_illumination":"24"},"hour":[{"time_epoch":1682402400,"time":"2023-04-25
        00:00","temp_c":9.4,"temp_f":48.9,"is_day":0,"condition":{"text":"Thundery
        outbreaks possible","icon":"//cdn.weatherapi.com/weather/64x64/night/200.png","code":1087},"wind_mph":9.6,"wind_kph":15.5,"wind_degree":174,"wind_dir":"S","pressure_mb":1006.0,"pressure_in":29.71,"precip_mm":0.0,"precip_in":0.0,"humidity":61,"cloud":35,"feelslike_c":7.1,"feelslike_f":44.8,"windchill_c":7.1,"windchill_f":44.8,"heatindex_c":9.4,"heatindex_f":48.9,"dewpoint_c":2.3,"dewpoint_f":36.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":9.0,"vis_miles":5.0,"gust_mph":12.1,"gust_kph":19.4,"uv":1.0},{"time_epoch":1682406000,"time":"2023-04-25
        01:00","temp_c":9.3,"temp_f":48.7,"is_day":0,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":7.6,"wind_kph":12.2,"wind_degree":174,"wind_dir":"S","pressure_mb":1005.0,"pressure_in":29.69,"precip_mm":0.0,"precip_in":0.0,"humidity":63,"cloud":50,"feelslike_c":7.4,"feelslike_f":45.3,"windchill_c":7.4,"windc[...]
